<launch>
  <arg name="world_file" default="$(find iusc_land)/worlds/scene.world" /> <!-- 设置世界文件路径 -->
  <!-- gazebo configs -->
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="paused" default="false"/>
  <!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find your_robot_description)/urdf/your_robot.urdf.xacro'" /> -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(arg world_file)"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="debug" default="$(arg debug)"/>
    <arg name="verbose" default="$(arg verbose)"/>
    <arg name="paused" default="$(arg paused)"/>
  </include>
  <!-- 加载坐标变换 -->
  <node pkg="iusc_land" type="custom_tf.py" name="custom_tf" output="screen"/>
</launch>