<!-- 主 launch 文件 -->
<launch>
    <arg name="world_path" default="$(find iusc_land)/worlds/scene.world"/>
    <arg name="vehicle" default="iris"/>
    <arg name="num_uav" default='6'/>

    <!-- 加载地图 -->
    <include file="$(find iusc_land)/launch/iusc_outdoor_world.launch">
        <arg name="world_file" value="$(arg world_path)"/>
    </include>

    <!-- 加载无人机 -->
    <include file="$(find iusc_land)/launch/iusc_outdoor_uav.launch">
        <arg name="n" value="$(arg num_uav)"/>
    </include>
    
</launch>
